section.banner-wrap.clearfix
	.container
		.banner
			.item
				a.img(href="#!")
					img(src="img/banner/1.jpg", alt="")
			.item
				a.img(href="#!")
					img(src="img/banner/1.jpg", alt="")
			.item
				a.img(href="#!")
					img(src="img/banner/1.jpg", alt="")