section.adswrap.clearfix.wow.fadeIn
	.bannerads
		.item
			a(href="#")
				img(src="img/product/bn1.jpg", alt="")
		//- .item
			a(href="#")
				img(src="img/product/bn1.jpg", alt="")
		//- .item
			a(href="#")
				img(src="img/product/bn1.jpg", alt="")