section.cartfooter.clearfix
	.container
		.copyright Copyright © 2017 Samsonite Viet Nam. All rights reserved.
		.icon-list.clearfix
			ul 
				li 
					img(src="img/payment/visa.png", alt="")
				li 
					img(src="img/payment/master.png", alt="")
				li 
					img(src="img/payment/jcb.png", alt="")
				li 
					img(src="img/payment/cod.png", alt="")
				//- li 
					img(src="img/payment/smartlink.png", alt="")
				//- li 
					img(src="img/payment/123pay.png", alt="")
	