section.breadcrumb-wrap2
	.breadcrumb-img
		img(src="img/breadcrumb/2.jpg", alt="")
	.breadcrumb-content
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Giới thiệu
				meta(itemprop='position', content='2')
		h3.pagename
nav.top-nav
	.container
		ul
			li
				a(href="#section-1" rel='m_PageScroll2id') Thư ngỏ
			li
				a(href="#section-2" rel='m_PageScroll2id') Văn hóa công ty
			li
				a(href="#section-3" rel='m_PageScroll2id') Tầm nhìn - Sứ mệnh
			li
				a(href="#section-4" rel='m_PageScroll2id') Lịch sử phát triển
			li
				a(href="#section-5" rel='m_PageScroll2id') Sơ đồ tổ chức
			li
				a(href="#section-6" rel='m_PageScroll2id') Thành tựu - Giải thưởng
section#section-1.about-section.section1.clearfix
	.container
		h1.page-title.text-center THƯ ngỏ
		.about-intro
			.content
				p(style="font-style: italic") Kính gửi Qúy khách hàng !
				p Nhóm Công ty T.C (T.C Group) hoạt động trong lĩnh vực 
					strong GIẢI PHÁP TOÀN BỘ: ĐIỆN TỬ - VIỄN THÔNG – TRUYỀN HÌNH 
					|và là nhà phân phối uy tín tại Việt Nam cho các hãng nổi tiếng thế giới như: SAMSUNG (Hàn Quốc), TYCO (Mỹ), TOA (Nhật Bản), HOCHIKI (Mỹ), General Instrument GI (Mỹ, IKUSI (Tây Ban Nha), FINE (Nhật Bản)…
		.row
			.col-12.col-lg-6
				.intro-content.content
					p Với đội ngũ hơn 200 nhân viên áp dụng Hệ Thống Quản Lý Chất Lượng ISO 9001:2008 T.C Group đã thực hiện hàng ngàn dự án trong và ngoài nước được khách hàng tin cậy, đánh giá cao và đã nhận được nhiều giải thưởng bằng khen của Nhà nước cũng như các tổ chức trong và ngoài nước.  Với hoạt động rất đa dạng bao gồm: Đầu tư – Sản xuất – Chuyên giao công nghệ - Thiết kế - Cung cấp – Lắp đặt T.C Group đã mạnh dạn liên kết với các công ty trong và ngoài nước để thực hiện các công trình lớn trên toàn quốc và nước ngoài như : Singapore, Nhật Bản, CHLB Nga, Vương Quốc Anh, HongKong. Với mục tiêu trở thành một trong những công ty hàng đầu trong lĩnh vực  Điện tử - Viễn thông Truyền hình tại Việt Nam, công ty T.C Group luôn coi trọng vấn đề đào tạo huấn luyện cả về chuyên môn và đạo đức, hầu hết nhân viên điều trải qua các lớp đào tạo, huấn luyện trong và ngoài nước để đáp ứng được yêu cầu ngày càng cao của thị trường.
					p Để trở thành đối tác tin cậy của quý khách hàng, Nhóm công ty T.C luôn luôn cố gắng nghiên cứu không ngừng nghỉ, tìm ra các giải pháp tốt nhất, sản xuất các thiết bị tốt nhất với giá thành hợp lý nhất để phục vụ khách hàng với mục đích 
						strong “Thỏa mãn nhu cầu khách hàng”.
					p(style="font-style: italic") Giám đốc điều hành
						br
						strong Huỳnh Quốc Giang
			.col-12.col-lg-6
				.intro-img
					img(src="img/about/img1.png", alt="")
section#section-2.about-section.section2.clearfix
	.feature-img
		img(src="img/about/bg2.jpg", alt="")
	.container
		h2.page-title.text-center Văn hóa công ty
		.feature-list
			.row
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/about/f1.png", alt="")
							figcaption Mọi hoạt động đều hướng tới khách hàng, thỏa mãn nhu cầu khách hàng.
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/about/f2.png", alt="")
							figcaption Xây dựng mối quan hệ văn minh, lịch sự và cộng sinh giữa Công ty - Khách hàng - Nhân viên.
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/about/f3.png", alt="")
							figcaption Xây dựng môi trường làm việc năng động, sáng tạo, chuyên nghiệp với thái độ tận tâm chấp hành pháp luật, minh bạch rõ ràng.
				.col-12.col-md-6.col-lg-3
					.feature
						figure
							.feature-icon
								img(src="img/about/f4.png", alt="")
							figcaption Nhân viên được tạo mọi điều kiện để phát huy năng lực của mình, được đãi ngộ xứng đáng đúng với chất lượng, kết quả và hiệu quả đóng góp.

section#section-3.about-section.section3.clearfix
	.container
		h2.page-title.text-center Tầm nhìn - Sứ mệnh
		.vision-list
			.row
				.col-12.col-lg-6
					.vision
						figure
							.vision-img
								img(src="img/about/vision.jpg", alt="")
							figcaption
								.vision-title Tầm nhìn
								.vision-des Hiện nay và trong tương lai thiết bị và hệ thống Điện tử viễn thông - truyền hình - Internet sẽ trở thành sản phẩm thông dụng và không thể thiếu trong đời sống, công việc của mỗi người. Do vậy, T.C Group sẽ tiếp tục đầu tư và phát triển nhanh nhất có thể để tham gia thị trường này và trở thành nhà Sản xuất - Thương mại - Dịch vụ các Thiết bị và Giải pháp tổng thể Điện tử - Viễn Thông - Tin học - Truyền hình hàng đầu Việt Nam, có uy tín trên thị trường Quốc tế.
				.col-12.col-lg-6
					.vision
						figure
							.vision-img
								img(src="img/about/mission.jpg", alt="")
							figcaption
								.vision-title Sứ mệnh
								.vision-des T.C Group luôn cố gắng xây dựng niềm tin bền vững trong khách hàng, trong các đối tác, trong cộng đồng và trong từng nhân viên nhằm mang lại cho họ những giá trị cao nhất thông qua: 
									br
									|- Nghiên cứu, sáng tạo các sản phẩm, dịch vụ tốt nhất cho khách hàng.
									br
									|- Gia tăng giá trị cho các nhà đầu tư.
									br
									|- Nâng cao đời sống nhân viên lên mức cao của Việt Nam, xây dựng quỹ nhà ở T.C Group.
									br
									|- Tham gia và tài trợ các hoạt động thể thao, từ thiện, công tác xã hội.

section#section-4.about-section.section4.clearfix
	.container
		h2.page-title.text-center Lịch sử phát triển
		.history-wrap
			.history-img.history-slick
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
				.item
					.img
						img(src="img/about/h1.jpg", alt="")
			.history-year.history-slick
				.item
					.year 1990
				.item
					.year 1998
				.item
					.year 1999
				.item
					.year 2000
				.item
					.year 2003
				.item
					.year 2004
				.item
					.year 2005
				.item
					.year 2006
				.item
					.year 2007
			.history-event.history-slick
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
				.item
					.content
						p Năm 1990, một nhóm kỹ sư trẻ đã thành lập T.C Electronics Group chuyên nghiên cứu, thiết kế, chế tạo và cung cấp thiết bị, giải pháp cho các hệ thống điện tử và truyền hình. Áp dụng những mô hình đã đoạt giải thưởng, kiến thức đã học cũng như kinh nghiệm thực tế, T.C Group dần dần tạo được niềm tin với khách hàng. Sản phẩm của T.C đã có mặt trên thị trường.
			.history-nav.history-slick
				.item
					.year 1990
				.item
					.year 1998
				.item
					.year 1999
				.item
					.year 2000
				.item
					.year 2003
				.item
					.year 2004
				.item
					.year 2005
				.item
					.year 2006
				.item
					.year 2007
section#section-5.about-section.section5.clearfix
	.container
		h2.page-title.text-center Sơ đồ tổ chức
		.company-map
			img(src="img/about/map.png", alt="")
section#section-6.about-section.section6.clearfix
	.container
		h2.page-title.text-center Thành tựu - Giải thưởng
		.cert-list
			.item
				.cert
					figure
						.cert-img
							img(src="img/about/c1.png", alt="")
						figcaption Huy chương tuổi trẻ sáng tạo
			.item
				.cert
					figure
						.cert-img
							img(src="img/about/c2.png", alt="")
						figcaption Bằng khen hội thi sáng tạo kỹ thuật năm 1992
			.item
				.cert
					figure
						.cert-img
							img(src="img/about/c3.png", alt="")
						figcaption Bằng khen hội thi sáng tạo kỹ thuật năm 1994
			.item
				.cert
					figure
						.cert-img
							img(src="img/about/c1.png", alt="")
						figcaption Huy chương tuổi trẻ sáng tạo