.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Liên hệ
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Hệ thống cửa hàng
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	section.contact-page.clearfix
		h2.page-title Cửa hàng 242 Nguyễn Văn Lượng p.10 q.Gò Vấp tp.HCM
		.content
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus ullam illum distinctio quas ea quia sunt ipsa praesentium incidunt cupiditate, quod perspiciatis recusandae adipisci saepe similique possimus molestiae dignissimos error sit impedit delectus deleniti blanditiis libero! Corporis nostrum repudiandae iste doloribus aspernatur nam architecto ullam fugiat at unde quibusdam quis quasi, odit perferendis alias ipsum veniam perspiciatis deserunt, quod vel consequuntur aperiam. Sequi unde ex ad aliquid eum? Alias recusandae maiores totam, eligendi voluptas et vel obcaecati repellendus hic sed fugiat provident nihil quae ea magni distinctio dolore numquam impedit id! Autem ratione facere quia corporis maiores nihil officia. Minima!
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum numquam earum molestias magni maxime facilis accusantium labore dignissimos odit. Et quos pariatur rem. Numquam, hic! Minima repudiandae odit, temporibus natus maxime quam. Quasi debitis voluptas dignissimos ad nemo aut dolores. Culpa tempora nihil amet molestias earum enim voluptas aliquam pariatur!
			figure
				img(src="img/store/1.jpg", alt="")
				figcaption Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, optio.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ex.
			p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo maiores eum quos possimus excepturi, nam suscipit nesciunt enim minus natus eveniet accusamus voluptatem mollitia consequatur. Facilis saepe ipsam quisquam magni?
			figure
				img(src="img/store/2.jpg", alt="")
				figcaption Lorem ipsum dolor sit amet consectetur adipisicing.
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, nam nemo possimus, ipsa molestias quaerat eius, enim adipisci architecto voluptatem explicabo numquam est nesciunt nostrum hic debitis magni illum repellat amet? Quaerat eos, provident mollitia nesciunt ut alias repellat quibusdam deserunt atque, quo veritatis voluptate, assumenda nemo vel corrupti at!
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quia velit fugiat consectetur obcaecati, dignissimos aspernatur ex dolore error, expedita, repudiandae repellendus quae. Illum architecto alias labore ut ad error commodi temporibus expedita excepturi illo repudiandae est, rem voluptate quis exercitationem ullam minus reiciendis dolorem, aspernatur ipsam itaque! Iusto voluptatibus provident quos natus excepturi dicta quod mollitia fugiat ratione accusantium, neque molestias. Dicta delectus aperiam voluptatibus odit, nemo, laborum odio at iusto, aspernatur voluptas dignissimos accusantium incidunt amet eos. Iusto, itaque mollitia obcaecati modi natus sunt cum maxime! Blanditiis, praesentium nulla tempora sit illo enim labore culpa placeat molestiae delectus?
			figure
				img(src="img/store/3.jpg", alt="")
				figcaption Lorem ipsum dolor sit amet.
			p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam, neque impedit aperiam temporibus eveniet magni quia, doloremque vitae facilis perspiciatis modi voluptatum dolorem suscipit accusantium veritatis. Fugit, aut cumque? Minus sed consequatur eligendi ut rerum tempora repellat quisquam asperiores, est perferendis cupiditate repudiandae accusamus ullam aliquid magnam, qui eaque quae repellendus hic optio! Repellendus at minus doloribus maiores, doloremque ducimus asperiores fugiat voluptatibus magni obcaecati pariatur dolores culpa exercitationem! Nostrum!
	section.news-page.system-news.clearfix
		.small-title Các cửa hàng khác
		.news-list
			.row
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/store/1.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#") 01 Ngô Thời Nhậm, Phường 1, Thành Phố Cao Lãnh
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit...
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/store/2.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#") 242 Nguyễn Văn Lượng, P. 10, Q. Gò Vấp, Tp. HCM
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit...
				.col-12.col-sm-6.col-md-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/store/3.jpg", alt="")
							figcaption
								h3.news-name
									a(href="#") 216 Võ Văn Ngân, Q.Thủ Đức, Tp. HCM
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit...