section.breadcrumb-wrap
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Hỗ trợ khách hàng
				meta(itemprop='position', content='2')
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
.container
	.row
		.col-12.col-lg-9
			section.support-page.clearfix
				h1.page-title Hỏi đáp
				.faqlist
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				.small-title Hỗ trợ khách hàng
				ul.sidebar-link
					li
						a(href="#") Hướng dẫn
					li.active
						a(href="#") Hỏi đáp
					li 
						a(href="#") Bảo hành
			section.send-mess
				.module-title Đặt câu hỏi
				.form-wrap
					.form-group
						input(placeholder='Họ và tên')
					.form-group
						input(placeholder='Email')
					.form-group
						textarea(name='', cols='30', rows='3', placeholder='Nội dung câu hỏi')
					.frm-btn
						input(type='submit', value='Gửi')