section.home-category.clearfix
	.container
		.category-list
			.row
				article.col-12.col-md-6.col-lg-4
					.category
						figure
							a.category-img(href="#!")
								img(src="img/cate/11.jpg", alt="")
							figcaption
								h3.category-name
									a(href="#!") Khóa cửa điện tử
								.category-brand
									a(href="#!")
										img(src="img/brand/samsung.png", alt="")
				article.col-12.col-md-6.col-lg-4
					.category
						figure
							a.category-img(href="#!")
								img(src="img/cate/1.jpg", alt="")
							figcaption
								h3.category-name
									a(href="#!") Âm thanh - Âm báo
								.category-brand
									a(href="#!")
										img(src="img/brand/toa.png", alt="")
				article.col-12.col-md-6.col-lg-4
					.category
						figure
							a.category-img(href="#!")
								img(src="img/cate/10.jpg", alt="")
							figcaption
								h3.category-name
									a(href="#!") Định vị GPS
								.category-brand
									a(href="#!")
										//- img(src="img/brand/tctek.png", alt="")
				article.col-12.col-md-6.col-lg-4
					.category
						figure
							a.category-img(href="#!")
								img(src="img/cate/12.jpg", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thiết bị điện tử viễn thông
								.category-brand
									a(href="#!")
										//- img(src="img/brand/tctek.png", alt="")
				article.col-12.col-md-6.col-lg-4
					.category
						figure
							a.category-img(href="#!")
								img(src="img/cate/13.jpg", alt="")
							figcaption
								h3.category-name
									a(href="#!") Thiết bị đo kiểm nguồn nước
								.category-brand
									a(href="#!")
										img(src="img/brand/tctek.png", alt="")
				article.col-12.col-md-6.col-lg-4
					.category
						figure
							a.category-img(href="#!")
								img(src="img/cate/3.jpg", alt="")
							figcaption
								h3.category-name
									a(href="#!") Dịch vụ & giải pháp
								.category-brand
									a(href="#!")
										//- img(src="img/brand/samsung.png", alt="")
section.home-product.clearfix
	.container
		.product-group
			.title-wrap
				h1.home-title Khóa cửa điện tử
				h2.home-des Số hóa mọi nhà - Già trẻ cùng vui
				.title-img
					img(src="img/product/c1.png", alt="")
			.product-list.clearfix
				.row.no-gutters
					.col-12.col-lg-6
						.product-banner
							.item
								a(href="#!")
									img(src="img/product/bn1.png", alt="")
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Khóa cửa điện tử Samsung SHS-3321XMK
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Khóa cửa điện tử Samsung SHS-3321XMK
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Khóa cửa điện tử Samsung SHS-3321XMK
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Khóa cửa điện tử Samsung SHS-3321XMK
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Khóa cửa điện tử Samsung SHS-3321XMK
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Khóa cửa điện tử Samsung SHS-3321XMK
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
		.product-group
			.title-wrap
				h1.home-title Màn hình - Chuông cửa
				h2.home-des Số hóa mọi nhà - Già trẻ cùng vui
				.title-img
					img(src="img/product/c2.png", alt="")
			.product-list.clearfix
				.row.no-gutters
					.col-12.col-lg-6
						.product-banner
							.item
								a(href="#!")
									img(src="img/product/bn2.png", alt="")
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") CAMERA CHUÔNG CỬA SAMSUNG HT-CN512/EN
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") CAMERA CHUÔNG CỬA SAMSUNG HT-CN512/EN
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") CAMERA CHUÔNG CỬA SAMSUNG HT-CN512/EN
									.product-price
										.new 2.000.000 đ
										.old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") CAMERA CHUÔNG CỬA SAMSUNG HT-CN512/EN
									.product-price
										.new 3.105.000 ₫
										//- .old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") CAMERA CHUÔNG CỬA SAMSUNG HT-CN512/EN
									.product-price
										.new 3.105.000 ₫
										//- .old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") CAMERA CHUÔNG CỬA SAMSUNG HT-CN512/EN
									.product-price
										.new 3.105.000 ₫
										//- .old 2.812.500 đ
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
		.product-group
			.title-wrap
				h1.home-title Hệ thống báo cháy - Chữa cháy
				h2.home-des Số hóa mọi nhà - Già trẻ cùng vui
				.title-img
					img(src="img/product/c3.png", alt="")
			.product-list.clearfix
				.row.no-gutters
					.col-12.col-lg-6
						.product-banner
							.item
								a(href="#!")
									img(src="img/product/bn3.png", alt="")
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/5.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Đầu báo khói nhiệt và quang HOCHIKI (SLR-24H)
									.product-price
										.new 2.000.000 đ
										.old 3.105.000 ₫
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/5.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Đầu báo khói nhiệt và quang HOCHIKI (SLR-24H)
									.product-price
										.new 2.000.000 đ
										.old 3.105.000 ₫
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/5.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Đầu báo khói nhiệt và quang HOCHIKI (SLR-24H)
									.product-price
										.new 2.000.000 đ
										.old 3.105.000 ₫
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/5.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Đầu báo khói nhiệt và quang HOCHIKI (SLR-24H)
									.product-price
										.new 2.000.000 đ
										.old 3.105.000 ₫
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/5.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Đầu báo khói nhiệt và quang HOCHIKI (SLR-24H)
									.product-price
										.new 2.000.000 đ
										.old 3.105.000 ₫
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
					article.col-12.col-lg-3
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/5.png", alt="")
								figcaption
									h3.product-name
										a(href="#!") Đầu báo khói nhiệt và quang HOCHIKI (SLR-24H)
									.product-price
										.new 2.000.000 đ
										.old 3.105.000 ₫
									.btn-wrap
										a.btn-buy(href="#!") <span class="lnr lnr-cart"></span>
										a.btn-viewdetail(href="#!") Xem thêm
		.banner.product-ad
			.item
				a.img(href="#!")
					img(src="img/banner/ads1.png", alt="")
			.item
				a.img(href="#!")
					img(src="img/banner/ads1.png", alt="")
			.item
				a.img(href="#!")
					img(src="img/banner/ads1.png", alt="")
section.home-partner.clearfix
	.container
		.row.no-gutters
			.col-12.col-lg-6
				.intro
					.title Hãy biến ngôi nhà của bạn thành một ngôi nhà thông minh.
					.content TC Group cung cấp giải pháp toàn bộ: Điện tử - Viễn thông - Truyền hình. Cho phép bạn tự động hóa ngôi nhà của mình với nhiều thiết bị "Làm việc thông minh", như khóa cửa, chuông cửa điện tử, hệ thống báo cháy - chữa cháy, hệ thống giám sát hành trình, hệ thống truyền hình và nhiều thứ khác.
			.col-12.col-lg-6
				.partner-list
					.row
						.col-6.col-sm-4
							a.partner(href="#!")
								img(src="img/partner/1.png", alt="")
						.col-6.col-sm-4
							a.partner(href="#!")
								img(src="img/partner/2.png", alt="")
						.col-6.col-sm-4
							a.partner(href="#!")
								img(src="img/partner/3.png", alt="")
						.col-6.col-sm-4
							a.partner(href="#!")
								img(src="img/partner/4.png", alt="")
						.col-6.col-sm-4
							a.partner(href="#!")
								img(src="img/partner/5.png", alt="")
						.col-6.col-sm-4
							a.partner(href="#!")
								img(src="img/partner/6.png", alt="")