section.breadcrumb-wrap.news-breadcrumb.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Đồng hồ nam
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
section.hot-news.clearfix
	.container
		h1.page-title Tin nổi bật
		.hotnews-list.clearfix
			.row.no-gutters
				article.col-12.col-lg-6
					.news-col.big
						figure
							a.news-img(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.news-category Tin thị trường
								h3.news-name
									a(href="#") Sky Watch ưu đãi mừng năm mới
								time 15/09/2017
				.col-12.col-lg-6
					.row.no-gutters
						article.col-12.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Giảm giá đến 50% khi sắm đồng hồ ngày 'Black Friday'
										time 15/09/2017
						article.col-12.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
						article.col-12.col-lg-6
							.news-col
								figure
										a.news-img(href="#")
											img(src="img/news/4.jpg", alt="")
										figcaption
											h3.news-name
												a(href="#") Nhận ưu đãi lớn khi mua đồng hồ Sky Watch
											time 15/09/2017
						article.col-12.col-lg-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/5.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Giảm giá đến 50% khi sắm đồng hồ ngày 'Black Friday'
										time 15/09/2017
.container
	.row
		.col-12.col-lg-9.col-xl-9
			section.news-page.clearfix
				h2.page-title Tin thị trường
				.news-list
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				.btn-wrap
					a.btn-viewmore(href="#") Xem thêm
			section.news-page.clearfix
				h2.page-title Tin công nghệ
				.news-list
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				.btn-wrap
					a.btn-viewmore(href="#") Xem thêm
			section.news-page.clearfix
				h2.page-title Tin khuyến mãi
				.news-list
					.row
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
						.col-12.col-md-6
							.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
										time 15/09/2017
										.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				.btn-wrap
					a.btn-viewmore(href="#") Xem thêm
		.col-12.col-lg-3.col-xl-3
			nav.sidebar-category.news.clearfix
				.small-title Danh mục tin tức
				ul.sidebar-link
					li.active
						a(href="#") Tin thị trường
					li
						a(href="#") Tin công nghệ
					li
						a(href="#") Tin khuyến mãi
			section.lastest-news.clearfix
				.small-title Tin mới nhất
				.post-list
					.post.big
						figure
							a.post-img(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Sky Watch giảm giá 50%
								time 12/07/2017