section.breadcrumb-wrap
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Samsung
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Khóa cửa điện tử
				meta(itemprop='position', content='4')
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
section.news-page.clearfix
	.container
		h1.page-title.text-center Cách chọn lựa khóa cửa điện tử phù hợp
		.news-detail
			time 26/07/2017
		.content
			p Khóa cửa điện tử là loại khóa cửa hiện đại sử dụng các công nghệ cao cấp như vân tay, thẻ từ, mật mã tích hợp vào thiết bị để kiểm soát việc đóng/mở cửa. Việc sử dụng khóa cửa điện tử có khá nhiều ưu điểm, nổi bật như khả năng tiện dụng, nhanh chóng, dễ sử dụng và có thiết kế bắt mắt, sang trọng, hiện đại, vì vậy người dùng ngày càng có xu hướng sử dụng khóa cửa điện tử thay thế cho khóa cơ thông thường.
			p Tuy nhiên thị trường khóa cửa điện tử bây giờ rất đa dạng với nhiều mẫu mã mới, chủng loại phong phú và chất lượng cũng như giá cả đa dạng. Nếu chưa tìm hiểu kỹ hoặc không có những kiến thức nhất định thì rất có thể bạn sẽ không lựa chọn được cho mình loại khóa cửa điện tử như ý cũng như vô tình rước thêm những phiền toái vào người. Chúng tôi hiểu rõ những yêu cầu cũng như mong muốn của khách hàng và xin tư vấn cách lựa chọn khóa cửa điện tử như sau:
			p 
				strong 1. Xác định khóa lắp cho cửa chính hay cửa phòng:
			p Đây là điểm đầu tiên cần chú ý, nếu lắp cho cửa chính thì nên chọn loại khóa điện tử có nhiều chốt sẽ đảm bảo an toàn hơn, còn nếu là cửa phòng thì tốt nhất là nên chọn khóa ít chốt vì loại này sẽ có kích thước nhỏ lắp đặt sẽ phù hợp hơn và sẽ tiện hơn khi đóng mở cửa.
			p 
				strong 2. Xác định cửa của mình là loại cửa gì:
			p Có nhiều loại khóa cửa điện tử khác nhau để phù hợp với từng loại cửa khác nhau, nếu bạn không tìm hiểu kỹ thì mặc dù thích 1 loại khóa cửa điện tử nào đó nhưng bạn cũng không thể lắp đặt được vì nó không phù hợp. Nếu cửa của bạn là cửa gỗ thì bạn có thể yên tâm vì 99% các loai khóa cửa điện tử đều phù hợp để lắp với cửa gỗ.
			p Nếu là cửa sắt chống cháy thì phải là cửa đặt mới và chưa lắp khóa nào thì đa phần đều có thể lắp đặt được.
			p Cửa lõi thép có khá ít loại khóa cửa điện tử phù hợp, có thể chọn loại khóa không tay cầm của Hàn Quốc.
			p Với cửa kính cường lực thì phải dùng loại khóa cửa điện tử dành riêng cho cửa kính (khóa cửa kính) mới có thể lắp được.
			p 
				strong 3. Xác định xem cửa đã từng lắp khóa chưa:
			p Nếu cửa của bạn là cửa mới chưa lắp đặt loại khóa nào thì có thể lắp đặt thoải mái các mẫu mã, chủng loại khác nhau. Còn với cửa đã lắp khóa trước đó rồi thì cần phải có nhân viên cung cấp khóa cửa điện tử đến khảo sát và tư vấn những mẫu nào có thể che hết được phần đã đục của khóa cũ.
			p 
				strong 4. Xác định thông số kỹ thuật của cửa có lắp được khóa cửa điện tử không:
			p Do khóa cửa từ (khóa điện tử) có bộ cơ to và rộng hơn so với các loại khóa cơ bình thường nên yêu cầu về độ dày và độ rộng của đố cửa cũng cần nhiều hơn.
			p Nếu cửa có độ dày >= 4cm và độ rộng đố cửa >=12cm thì khóa nào cũng lắp được. Còn nếu nhỏ hơn thì tùy từng loại cửa khác nhau mà nhân viên sẽ tư vấn những mã khóa khác nhau. Lựa chọn tốt nhất vẫn là các loại khóa không có tay cầm của Hàn Quốc.
			p 
				strong 5. Xác định loại khóa sẽ sử dụng:
			p Tùy vào từng mục đích của khách hàng mà lựa chọn các loại khóa phân theo chức năng. Với khóa mã số thì là dùng mã số thay cho chìa khóa cơ, với khóa thẻ từ thì sẽ dùng thẻ cảm ứng thay cho chìa khóa cơ, với khóa vân tay thì sẽ dùng vân tay thay cho chìa khóa cơ…
			p 
				strong 6. Tìm các thương hiệu khóa cửa điện tử uy tín.
			p Thị trường Việt Nam hiện nay có rất nhiều loại khóa nhưng phổ biến nhất vẫn là các loại khóa cửa điện tử có xuất xứ từ Trung Quốc do có giá thành rẻ và mẫu mã đa dạng. Ngoài ra còn có các loại khóa của Hoa kỳ nhưng sản xuất tại Trung Quốc như: Adel, Hune, Orbita… Các loại khóa của Hàn Quốc hiện nay cũng khá phổ biến như: Samsung, Gateman, Gate Eye…
			p 
				strong 7. Lưa chọn mẫu mã và giá thành hợp lý:
			p Cuối cùng, bạn chỉ việc chọn lựa các mẫu khóa phù hợp với nội thất ngôi nhà và tham khảo mức giá bán trên thị trường hiện nay. Ngoài ra bạn cũng nên lưu ý lựa chọn công ty cung cấp khóa cửa điện tử có uy tín, đội ngũ kỹ thuật khá, hoạt động lâu năm trong nghề để được hưởng chế độ hậu mãi tốt nhất.
		.share
			img(src="img/share.jpg", alt="")
		.other-news
			h2.small-title Tin tức khác
			nav.post-list
				ul
					li
						a.post(href="#!") Cách lựa chọn khóa cửa điện tử phù hợp
					li
						a.post(href="#!") Samsung công bố hệ thống smarthome mới trong năm 2017
					li
						a.post(href="#!") Cách sử dụng smartlock hiệu quả nhất
					li
						a.post(href="#!") Tưng bừng giảm giá trong ngày khai trương showroom mới
					li
						a.post(href="#!") TOA trình làng các thiết bị âm thanh âm báo mới 2017
