section.breadcrumb-wrap
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Samsung
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Khóa cửa điện tử
				meta(itemprop='position', content='4')
	.breadcrumb-img
		img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
section.news-page.clearfix
	.container
		h1.page-title.text-center Tin tức
		.news-list
			.row
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Cách Chọn Lựa Khóa Cửa Điện Tử Phù Hợp
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/2.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam tưng bừng giảm giá 30%
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/3.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Samsung giới thiệu hệ thống smartlock cho doanh nghiệp
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/4.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Samsung tích hợp Google Assistant vào các thiết bị smarthome
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/5.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Cách Chọn Lựa Khóa Cửa Điện Tử Phù Hợp
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/6.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam tưng bừng giảm giá 30%
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/7.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Samsung giới thiệu hệ thống smartlock cho doanh nghiệp
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/8.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Samsung tích hợp Google Assistant vào các thiết bị smarthome
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
				article.col-12.col-md-6.col-lg-4
					.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/9.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") Cách Chọn Lựa Khóa Cửa Điện Tử Phù Hợp
								time 15/09/2017
								.news-des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore eaque fugit illum natus maiores nesciunt eveniet et repudiandae iure quis.
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4