.container
	section.breadcrumb-banner.clearfix
		.img 
			img(src="img/breadcrumb/1.jpg", alt="")
		h3.pagename
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tuyển dụng
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tuyển dụng trưởng phòng kinh doanh
				meta(itemprop='position', content='3')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') American Tourister Handy Spinner 78cm TSA
				meta(itemprop='position', content='4')
	.row
		.col-12.col-lg-9
			section.career-page.clearfix
				h1.page-title Tuyển dụng Trưởng phòng kinh doanh
				.job-detail
					time 21/03/2017
					.content
						p
							strong MÔ TẢ CÔNG VIỆC

						p Thực hiện các thủ tục về sản phẩm, dịch vụ tín dụng khi khoản cấp tín dụng đã được duyệt.
						p Phối hợp với bộ phận/nhân viên nghiệp vụ liên quan hoặc hướng dẫn khách hàng tiếp xúc các chức danh khác để hoàn tất việc thực hiện theo phê duyệt của khoản cấp tín dụng.
						p Quản lý khoản cấp tín dụng của khách hàng.
						p Duy trì quan hệ, chăm sóc khách hàng hiện hữu.
						p
							strong YÊU CẦU HỌC VẤN

						p Tốt nghiệp Đại học các chuyên ngành Kinh tế, Tài chính, Ngân hàng, QTKD.
						p 
							strong YÊU CẦU KINH NGHIỆM

						p Ưu tiên ứng viên có 01 năm kinh nghiệm làm Hỗ trợ tín dụng tại các Ngân hàng.
						p
							strong YÊU CẦU KHÁC

						p Kỹ năng giao tiếp, thuyết phục khách hàng
						p Kỹ năng thuyết trình
						p Kỹ năng thẩm định khách hàng, phương án kinh doanh, dự án đầu tư....
						p Kỹ năng quản lý thời gian
						p Vi tính: văn phòng
						p Ngoại ngữ: Có khả năng đọc hiểu tiếng Anh tối thiểu để giao tiếp với máy tính và nghiên cứu tài
						p
							strong NƠI LÀM VIỆC

						p TP.HCM
						p 
							strong HẠN CHÓT NỘP HỒ SƠ
						p 30/11/2016 (ưu tiên ứng viên nộp hồ sơ sớm)
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				ul 
					li
						a(href="#") Chính sách tuyển dụng
					li.active
						a(href="#") Cơ hội nghề nghiệp