//- section.banner-wrap.clearfix
	.banner.brand-banner
		//- .item
			.banner-img
				img(src="img/banner/3.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo.animated.fadeInLeft
								img(src="img/banner/brand1.png", alt="")
							.caption.animated.fadeInRight Đồng hồ đôi dây kim loại Premier
							a.link.animated.fadeInUp(href="#") Xem thêm
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption Đồng hồ đôi dây kim loại Premier
							a.link(href="#") Xem thêm
		//- .item
			.banner-img
				img(src="img/banner/2.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption Đồng hồ đôi dây kim loại Premier
							a.link(href="#") Xem thêm
section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Thương hiệu
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Đồng hồ nam
				meta(itemprop='position', content='3')
.container
	section.adswrap.clearfix.wow.fadeIn
		.bannerads
			.item
				a(href="#")
					img(src="img/product/bn1.jpg", alt="")
	section.product-page.clearfix
		//- .btn-togglewrap.d-lg-none
			.btn-showcate Danh mục sản phẩm
		//- section.filter-wrap2.option-group.clearfix
			.filter-group.clearfix
				.filter-title <i class="fa fa-th-list" aria-hidden="true"></i>
					span Danh mục sản phẩm
					//- .btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
				.filter-option.clearfix
					nav.filter-category.clearfix
						ul
							li.hassub.active
								a(href="#") Đồng hồ nam
								//- .btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
								//- .sub
									ul 
										li.active
											a(href="#") Vali nhựa
										li 
											a(href="#") Vali vải
							li
								a(href="#") Đồng hồ nữ
							li.hassub
								a(href="#") Đồng hồ đôi
							li
								a(href="#") Sản phẩm khác
		.category-info.clearfix.wow.fadeInUp
			//- .product-sort.clearfix
				select
					option(value="#") Sắp xếp theo
					option(value="#") Bán chạy nhất
					option(value="#") Hàng mới về
					option(value="#") Giá cao nhất
					option(value="#") Giá thấp nhất
			h1.cate-name Thương hiệu
			.amount Có 60 thương hiệu
		.brand-list.clearfix
			.row
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/1.jpg", alt="")
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/1.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/2.jpg", alt="")
								.brand-logo
									img(src="img/brand/2.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/2.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/3.jpg", alt="")
								.brand-logo
									img(src="img/brand/3.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/3.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/4.jpg", alt="")
								.brand-logo
									img(src="img/brand/4.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/4.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/5.jpg", alt="")
								.brand-logo
									img(src="img/brand/5.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/5.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/6.jpg", alt="")
								.brand-logo
									img(src="img/brand/6.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/6.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/7.jpg", alt="")
								.brand-logo
									img(src="img/brand/7.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/7.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/8.jpg", alt="")
								.brand-logo
									img(src="img/brand/8.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/8.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/9.jpg", alt="")
								.brand-logo
									img(src="img/brand/9.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/9.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/10.jpg", alt="")
								.brand-logo
									img(src="img/brand/10.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/10.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/11.jpg", alt="")
								.brand-logo
									img(src="img/brand/11.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/11.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/12.jpg", alt="")
								.brand-logo
									img(src="img/brand/12.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/12.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/13.jpg", alt="")
								.brand-logo
									img(src="img/brand/13.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/13.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/14.jpg", alt="")
								.brand-logo
									img(src="img/brand/14.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/14.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/15.jpg", alt="")
								.brand-logo
									img(src="img/brand/1.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/1.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/16.jpg", alt="")
								.brand-logo
									img(src="img/brand/2.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/2.png", alt="")
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/17.jpg", alt="")
								.brand-logo
									img(src="img/brand/3.png", alt="")
								.brand-des có 234 sản phẩm
							figcaption
								.brand-name
									img(src="img/brand/3.png", alt="")

	//- .pages.wow.fadeInUp
		ul.pagination
			li.active
				a(href="#") 1
			li 
				a(href="#") 2
			li 
				a(href="#") 3
			li 
				a(href="#") 4