section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tài khoản
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Admin
				meta(itemprop='position', content='3')
.container
	.row.flex.flex-wrap
		.col-12.col-lg-3
			section.user-sidebar.clearfix
				.userinfo.clearfix
					figure
						a.user-img(href="#")
							img(src="img/user.png", alt="")
						figcaption
							.title Tài khoản của
							.user-name Admin
							.user-rank <i class="fa fa-trophy" aria-hidden="true"></i> Thành viên vàng
			nav.user-sidelink.clearfix
				ul 
					//- li.hvr-sweep-to-right
						a(href="userpanel1.html") Chính sách thành viên
					li.hvr-sweep-to-right
						a(href="userpanel.html") Thông tin chung
					li.hvr-sweep-to-right
						a(href="userpanel1.html") Thông tin tài khoản
					li.hvr-sweep-to-right
						a(href="userpanel2.html") Số địa chỉ
					//- li.hvr-sweep-to-right
					//- 	a(href="#") Thông báo của tôi
					li.hvr-sweep-to-right
						a(href="userpanel3.html") Đơn hàng của tôi
					//- li.hvr-sweep-to-right.active
						a(href="userpanel4.html") Danh sách yêu thích
					//- li.hvr-sweep-to-right
						a(href="userpanel5.html") Quản lý điểm thưởng
		.col-12.col-lg-9
			section.user-page.clearfix
				h1.postname Danh sách yêu thích
				section.wishlist.clearfix
					.product-list.clearfix
						.row
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/9.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.promotion.new NEW
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/10.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.promotion.sale -10%
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/11.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/12.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/13.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.promotion.hot HOT
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/14.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.promotion.sale -10%
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/15.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết
							article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
								.product-col
									figure.wow.zoomIn 
										.img-wrap
											a.product-img(href="#")
												img(src="img/product/16.png", alt="")
										figcaption
											.product-brand CASIO
											h3.product-name
												a(href="#") SKAGEN SKW6234
											.product-status Tình trạng: Sẵn hàng
											.product-view Lượt xem: 1164
											.product-price.clearfix
												.new 5.312.000 đ
												.old 6.650.000 đ
											a.btn-view(href="#") Chi tiết