section.col-12.col-lg-3.filter-col.clearfix
	h4.title Bộ lọc
	//- .filter-wrap.category-group.clearfix
		.filter-group.clearfix
			.filter-title 
				span Danh mục sản phẩm
				//- .btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-category.clearfix
					ul
						li.hassub.active
							a(href="#") Đồng hồ nam
							//- .btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							//- .sub
								ul 
									li.active
										a(href="#") Vali nhựa
									li 
										a(href="#") Vali vải
						li
							a(href="#") Đồng hồ nữ
						li.hassub
							a(href="#") Đồng hồ đôi
						li
							a(href="#") Sản phẩm khác
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
	.filter-wrap.option-group.clearfix
		.filter-group.clearfix
			.filter-title 
				span Lọc theo
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Sản phẩm mới
						li
							a(href="#") Sản phẩm bán chạy
						li
							a(href="#") Sản phẩm yêu thích
		.filter-group.clearfix
			.filter-title 
				span Loại sản phẩm
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a(href="#") Khóa cửa điện tử
						li
							a(href="#") Màn hình - Chuông cửa
						li
							a(href="#") True-I Smarthome
		.filter-group.clearfix
			.filter-title 
				span Giá
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a(href="#") Dưới 1.000.000 đ
						li
							a(href="#") Từ 1.000.000 - 5.000.000 đ
						li
							a(href="#") Trên 5.000.000 đ
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
