section.page-feature.clearfix
	.container
		.feature-list
			.row.no-gutters
				.col-6.col-md-4.col-lg-2
					.feature
						figure
							.feature-img
								img(src="img/icon/f1.png", alt="")
							figcaption
								.feature-name Khuyến mãi lớn
								.feature-des Chúng tôi cung cấp giá cả cạnh tranh trên nhiều sản phẩm.
				.col-6.col-md-4.col-lg-2
					.feature
						figure
							.feature-img
								img(src="img/icon/f2.png", alt="")
							figcaption
								.feature-name Giao hàng miễn phí
								.feature-des Giao hàng miễn phí khắp cả nước với hoá đơn trên 1.000.000 đ
				.col-6.col-md-4.col-lg-2
					.feature
						figure
							.feature-img
								img(src="img/icon/f3.png", alt="")
							figcaption
								.feature-name Thanh toán an toàn
								.feature-des Bằng các phương thức thanh toán phổ biến và an toàn nhất thế giới.
				.col-6.col-md-4.col-lg-2
					.feature
						figure
							.feature-img
								img(src="img/icon/f4.png", alt="")
							figcaption
								.feature-name Tự tin mua sắm
								.feature-des Bảo vệ người mua hàng từ lúc nhấp chuột đến phân phối.
				.col-6.col-md-4.col-lg-2
					.feature
						figure
							.feature-img
								img(src="img/icon/f5.png", alt="")
							figcaption
								.feature-name Trợ giúp 24/7
								.feature-des Trợ giúp hàng ngày cho trải nghiệm mua sắm nhẹ nhàng.
				.col-6.col-md-4.col-lg-2
					.feature
						figure
							.feature-img
								a(href="#!")
									img(src="img/icon/apple.png", alt="")
								a(href="#!")
									img(src="img/icon/android.png", alt="")
							figcaption
								.feature-name Mua sắm trực tuyến
								.feature-des Tải xuống ứng dụng và nhận được nhiều khuyến mãi độc quyền.
footer
	section.footer-top
		.container
			.row
				.col-12.col-md-6.col-lg-3
					.footer-col
						h3.company CÔNG TY TNHH THƯƠNG MẠI T.C
						ul.contact-info
							li Địa chỉ: 509 Trần Hưng Đạo, P.Cầu Kho, Q1 ,TP.HCM
							li Điện thoại: 
								a(href="tel:(08) 3837 8888") (08) 3837 8888
							li Fax : (08) 3920 0129
							li Website: 
								a(href="http://www.tcvietnam.com.vn") www.tcvietnam.com.vn
							li Số giấy chứng nhận đăng ký kinh doanh: 0215822211
				.col-12.col-md-6.col-lg-3
					.footer-col
						h4.title Sản phẩm
						nav.footer-link
							//- a(href="") Samsung
							//- a(href="") TOA
							a(href="") Khóa cửa điện tử
							a(href="") Màn hình – Chuông cửa
							a(href="") True-I Smarthome
							a(href="") Hệ thống âm thanh
							a(href="") Hệ thống báo cháy – chữa cháy
							a(href="") Hệ thống giám sát hành trình
							a(href="") Hệ thống truyền hình
							a(href="") Hệ thống camera quan sát
				.col-12.col-md-6.col-lg-3
					.footer-col
						h4.title Sản phẩm
						nav.footer-link
							a(href="") Phương thức đặt hàng
							a(href="") Hướng dẫn đặt hàng
							a(href="") Phương thức giao hàng
							a(href="") Phương thức thanh toán
							a(href="") Chính sách đổi trả hàng
							a(href="") Hướng dẫn đổi trả hàng
							a(href="") Trung tâm khách hàng
							a(href="") Hỏi đáp
				.col-12.col-md-6.col-lg-3
					.footer-col
						h4.title Đăng ký nhận bản tin
						.subscribe-wrap
							.module-title Đăng ký để nhận được những thông tin về sản phẩm mới và khuyến mãi của TC Group
							.subscribe
								.subcribefrm
									input(type="text" placeholder="Đăng ký nhận bản tin...")
									button.subcribebutton Đăng ký
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
						.cert
							a(href="#!")
								img(src="img/bct.png", alt="")
	section.footer-bottom
		.container
			.row
				.col-12.col-lg-6
					nav.sitemap
						a(href="#!") Điều khoản sử dụng
						a(href="#!") Chính sách bảo mật
						a(href="#!") Sitemap
					.copyright Copyright © 2017 TC Group. All rights reserved.
				.col-12.col-lg-6
					.payment-method
						label Cách thức thanh toán
						img(src="img/payment.png", alt="")



