header
	section.header-top.clearfix
		.container
			.col-right.clearfix
				.hotline
					a(href="tel:1900 7188") 1900 7188
				.email
					a(href="mailto:sales@tcvietnam.com.vn") Sales@tcvietnam.com.vn
				.language
					a(href="#!")
						img(src="img/vn.png", alt="")
					a(href="#!")
						img(src="img/en.png", alt="")
	section.header-main.clearfix
		.container
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.search
				.searchwrap
					.searchbox
						input(type="text" placeholder="Nhập từ khóa cần tìm...")
						select
							option Tất cả
						button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
			.col-right.clearfix
				.cart
					a.cart-toggle(href="#!") Giỏ hàng <span class="lnr lnr-cart"></span>
						.cart-amount 5
				.login
					ul
						li
							a(href="#!") Đăng ký
						li
							a(href="#!") Đăng nhập
	section.header-menu.clearfix
		.container
			.menu
				.menu-left
					.btn-showmenu <i class="fa fa-list-ul" aria-hidden="true"></i> Danh mục sản phẩm
					.menu-content
						ul.menu-link
							li
								a(href="#!") 
									.icon
										img(src="img/icon/c1.png", alt="")
									.text Khóa cửa điện tử 
							li
								a(href="#!") 
									.icon
										img(src="img/icon/c2.png", alt="")
									.text Âm thanh - Âm báo
							li
								a(href="#!") 
									.icon
										img(src="img/icon/c3.png", alt="")
									.text Định vị GPS
							li
								a(href="#!") 
									.icon
										img(src="img/icon/c4.png", alt="")
									.text Thiết bị điện tử viễn thông
							li
								a(href="#!") 
									.icon
										img(src="img/icon/c5.png", alt="")
									.text Thiết bị đo kiểm nguồn nước
							li
								a(href="#!") 
									.icon
										img(src="img/icon/c6.png", alt="")
									.text Giải pháp
							//- li
								a(href="#!") 
									.icon
										img(src="img/icon/c7.png", alt="")
									.text Hệ thống truyền hình
							//- li
								a(href="#!") 
									.icon
										img(src="img/icon/c8.png", alt="")
									.text Hệ thống camera quan sát
				.menu-right
					.menu-content
						ul.menu-link
							li
								a(href="#!") Khuyến mãi
							li
								a(href="#!") Dịch vụ & giải pháp
							li
								a(href="#!") Dự án
							li
								a(href="#!") Hệ thống cửa hàng
							li
								a(href="#!") Tin tức
							li
								a(href="#!") Giới thiệu
							li
								a(href="#!") Liên hệ
